body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 25px;
    text-align: center;
}

h2 {
    color: rgb(134, 32, 32);
    font-size: 20px;
    text-align: center;
    word-spacing: 10px;
}

p {
    font-family: 'Trebuchet MS';
}

toc {
    list-style-type:none;
    font-family: 'Gill Sans';
    font-size: 18px;
    text-align:center;
}
