body {
    background-color: lightblue;
}

p {
    font-family: 'Trebuchet MS';
}

strong {
    margin-top: 30px;
    display: inline-block;
}

em {
    display: inline;
}

u {
    display: block;
    margin-top:-30px;
}

.main a {
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
    color: red;
}

p {
    font-family: 'Trebuchet MS';
}

.main a {
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
    color: red;
}

.main toc {
    list-style-type: ul;
    font-family: 'Gill Sans';
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    display: table;
    margin: auto;
}

.main toc.header {
    margin-top: 50px;
    margin-left: -150px;
    font-size: 25px;
    display: block;
}

.main cap {
    font-size: 17px;
    font-family: 'Verdana';
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.main img.character {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    max-height: 30%;
    margin-top: 150px;
    margin-bottom: 50px;
}

.main img.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

.main img.cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 70%;
    margin-top: 140px;
    margin-bottom: 50px;
}

.main ol {
    font-family: 'Trebuchet MS';
}

.main ul {
    padding-left: 50px;
}

.main li {
    text-indent: -20px;
    margin: 20px 0;
}

.main li.toc {
    margin: -10px;
    text-align: left;
}


ftr {
    display: block;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 65px;
}
