#rectangle {
    width: 1280px;
    height: 115px;
    background-color: rgb(207, 178, 81);
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    color: navy;
    margin-left: 25px;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: rgb(134, 32, 32);
    font-size: 23px;
    text-align: center;
    margin-left: 15px;
    word-spacing: 8px;
    font-family: sans-serif;
}

input {
    float: right;
    margin-right: 20px;
    display: inline;
    margin-left: 30px;
}

u {
    display: block;
    margin-top: 60px;
}
